*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

.content{
    display: flex;
    margin: 0 auto;
}
.image-con{
   width: 430px;
   margin-left: 150px;
}
.image-con{

    
    position: relative;
   
}

.im1,.im2{
    width: 280px;
    height: 550px;
   border:20px solid ;
   margin: 10px;
   border-radius: 20px;
}
.im1{
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 20px;
    border: 20px solid rgb(24, 22, 22);
}

form{
    
    
}

h1{
    text-align: center;
    margin: 50px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.form-containre{
    width: 350px;
    height: 420px;
    background-color: white;
    border: 1px solid #ccc;
    
}
.form-content{
    margin: 0 auto;
width: 280px;
}
input{
    width: 280px;
    height: 30px;
    align-items: center;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin: 10px 0px;
    font-size: 12px;
    padding: 6px 10px ;
   

}

.button-content{
    width: 350px;
    margin:0 auto;
    text-align: center;
}

.btn{
    padding: 0 40px;
    width: 280px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    border: #ccc;
    color: white;
    background-color: rgb(39, 183, 255);
    margin-top: 20px;
}
.or{
    width: 350px;
text-align: center;
font-size: 13px;
color: rgb(180, 186, 186);
margin-top: 30px;
position: relative;
font-family: sans-serif;
}
.or::before{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: rgb(180, 186, 186);
    left: 45px;
    top: 50%;
}
.or::after{
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    background-color: rgb(180, 186, 186);
    height: 1px;
    right: 45px;
    top: 50%;

}
.form-content p{
   
text-align: center;
font-size: 13px;
color: rgb(15, 139, 139);
margin: 30px 0 0 0;
font-family: sans-serif; 
}

a{
    text-align: center;
    width: 280px;
    margin-top: 20px;

}
.fa{
    width: 20px;
    padding: 2px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin:  2px 10px;
    margin-left: 50px;
}

.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background-color: #55ACEE;
    color: white;
}

.dont{
    width: 350px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.get{
    margin: 10px 0;
    text-align: center;
}

.im img{
max-width: 150px;
height: 40px;
display: inline-block;
margin: 0 auto;
/* margin-left: 20px; */
margin-top: 10px;
}